<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Paytm Payment</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

</head>

<body>

    {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-3">Paytm Incorporation Demo</h1>
        <p class="lead">Following form contains the information to be sent to paytm server.</p>
    </div>

    <div class="container">
        <div class="row">
            <form class="col-sm-8 offset-md-2" action="{{submitURL}}" method="post">

                {{#if CHECKSUMHASH}}
                    {{#if success}}
                        <div class="alert alert-success" role="alert">
                            <strong>Checksum generated</strong> click pay now button for payment.
                        </div>
                    {{/if}}
                    {{#if failed}}
                        <div class="alert alert-danger" role="alert">
                            <strong>Checksum couldn't be generated</strong> try again.
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="CHECKSUMHASH">CHECKSUMHASH</label>
                        <input class="form-control" id="CHECKSUMHASH" type="text" name="CHECKSUMHASH" value="{{CHECKSUMHASH}}" readonly>
                    </div>
                {{else}}
                    <div class="form-group">
                        <label for="KEY">MERCHANT_KEY</label>
                        <input class="form-control" id="KEY" type="text" name="KEY" value="{{KEY}}">
                    </div>
                {{/if}}
                <div class="form-group">
                    <label for="CALLBACK_URL">CALLBACK_URL</label>
                    <input class="form-control" id="CALLBACK_URL" type="text" name="CALLBACK_URL" value="{{CALLBACK_URL}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="CHANNEL_ID">CHANNEL_ID</label>
                    <input class="form-control" id="CHANNEL_ID" type="text" name="CHANNEL_ID" value="{{CHANNEL_ID}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="CUST_ID">CUST_ID</label>
                    <input class="form-control" id="CUST_ID" type="text" name="CUST_ID" value="{{CUST_ID}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="INDUSTRY_TYPE_ID">INDUSTRY_TYPE_ID</label>
                    <input class="form-control" id="INDUSTRY_TYPE_ID" type="text" name="INDUSTRY_TYPE_ID" value="{{INDUSTRY_TYPE_ID}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="MID">MID</label>
                    <input class="form-control" id="MID" type="text" name="MID" value="{{MID}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="ORDER_ID">ORDER_ID</label>
                    <input class="form-control" id="ORDER_ID" type="text" name="ORDER_ID" value="{{ORDER_ID}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="REQUEST_TYPE">REQUEST_TYPE</label>
                    <input class="form-control" id="REQUEST_TYPE" type="text" name="REQUEST_TYPE" value="{{REQUEST_TYPE}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="TXN_AMOUNT">TXN_AMOUNT</label>
                    <input class="form-control" id="TXN_AMOUNT" type="text" name="TXN_AMOUNT" value="{{TXN_AMOUNT}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <div class="form-group">
                    <label for="WEBSITE">WEBSITE</label>
                    <input class="form-control" id="WEBSITE" type="text" name="WEBSITE" value="{{WEBSITE}}" {{#if CHECKSUMHASH}} readonly {{/if}}>
                </div>
                <button type="submit" class="btn btn-primary"> {{#if CHECKSUMHASH}}Pay Now{{else}}Generate Checksum{{/if}}</button>
            </form>
        </div>
        <br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $("form").submit(function(e) {
            // e.preventDefault();
            // console.log($(this).serialize());
        });
    </script>
</body>

</html>
